<!DOCTYPE html>
<html>

<head>
    <title>Thesis</title>
    <script src="//code.jquery.com/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="static/custom.css" type="text/css">
</head>

<body>
<div class="container">
    <h1 class="display-title">Send-me-the-pic</h1>
    <div class="row">
        <div class="col">
            <hr>
	        <br>
	    </div>
    </div>

</div>
</body>

</html>
<script src="/static/script.js"></script>