<!DOCTYPE html>
<html>

<head>
    <title>Multimodal Chatbot</title>
    <script src="//code.jquery.com/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="static/custom.css" type="text/css">
</head>

<body>
<div class="container">
    <h1 class="display-title">Multimodal Chatbot</h1>
    <br>
    <!-- <div class="row">
        <div class="col">
            <hr>
	        <br>
	    </div>
    </div> -->
    
    <form>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <div class="dialog_history">
                        <p class="bot_msg">Hi, how are you?</p>
                    </div>
                    <textarea class="form-control" id="user_query" placeholder="Type message and press enter" rows="1"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
</body>

</html>
<script src="/static/script.js"></script>