.title {
    color: 	#547cff;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin: 1em 0em 0.2em 0em;
}

label[for*="header"] {
    color: #1c3a9b;
    font-weight: bold;
    font-size: 18px;
    vertical-align: sub;
}

.dialog_history {
    border-width: 2px;
    border-style: solid;
    border-color: #e6ebf2;
    padding: 10px;
    height: 540px;
    overflow: hidden;
    overflow-y: auto;
}

.bot_msg {
    border-radius: 10px;
    padding: 7px 14px;
    float: left;
    clear: both;
    background-color: #e6ebf2;
    color: black;
}

.user_msg {
    border-radius: 10px;
    padding: 7px 14px;
    float: right;
    clear: both;
    background-color: #547cff;
    color: white;
}

.image {
    width: 224px;
    height: 224px;
    border-width: 2px;
    border-style: solid;
    border-color: #e6ebf2;
    float: left;
    clear: both;
    margin-bottom: 14px;
}

.btn-outline-primary {
    background-color: white !important;
    border-color: #547cff !important;
    color: #547cff !important;
}

.btn-outline-primary:active, .btn-outline-primary:hover, .btn-outline-primary:focus {
    background-color: #8ba6ff !important;
    border-color: #8ba6ff !important;
    box-shadow: none !important;
    color: white !important;
}

/* css for creating horizontal Likert scale */
/* reference from https://codepen.io/mr-t77/pen/jRzmMZ */

.evaluation {
    font-size: 14px;
    font-weight: bold;
    padding: 20px 0 0 0;
}

.likert {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0 0 20px;
    display: block;
    border-bottom: 2px solid #efefef;
}

.likert:last-of-type, .likert:nth-of-type(3) {
    border-bottom: 0;
}

.likert:before {
    content: '';
    position: relative;
    top: 11px;
    left: 9.5%;
    display: block;
    background-color: #efefef;
    height: 4px;
    width: 78%;
}

li {
    display: inline-block;
    width: 19%;
    text-align: center;
    vertical-align: top;
    font-size: 12px;
}

li input[type=radio] {
    display: block;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -6px;
}