.display-title {
    color: 	#547cff;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin: 1em 0em 0em 0em;
}

label[for*="header"] {
    color: #313950;
    font-weight: bold;
    font-size: 18px;
    vertical-align: sub;
}

.dialog_history {
    border-width: 2px;
    border-style: solid;
    border-color: #e6ebf2;
    padding: 10px;
    height: 500px;
    overflow: hidden;
    overflow-y: auto;
}

.bot_msg {
    border-radius: 10px;
    padding: 7px 14px;
    float: left;
    clear: both;
    background-color: #e6ebf2;
    color: black;
}

.user_msg {
    border-radius: 10px;
    padding: 7px 14px;
    float: right;
    clear: both;
    background-color: #547cff;
    color: white;
}